
@{
    ViewData["Title"] = "TempDataList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>TempDataList</h1>

@{
    var a = TempData["Transport"];
}
<h1>TempData Listelenmesi</h1>
<p>@TempData["Transport"]</p>
<p>@a</p>
